body {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 80%;
    height: 80%;
    padding: 10px;
}

.container {
    width: 100%;
}

/* title */

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-link__icon[data-v-007d9333] {
    width: 12px;
    height: 12px;
    margin-right: var(--spacing-small)
}

.title {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.icons {
    text-align: right;
    width: 100%;
    display: inline-block;
    background: none;
}

.image-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.cakeImg {
    box-shadow: 0 15px 25px 0 rgb(83, 78, 78);
}

.suosikit {
    display: inline-block;
    width: 30px;
    height: 25px;
    margin: 7px;
    background-image: url('kuvat/heart.png');
    background-size: cover;
}

.käyttäjä {
    display: inline-block;
    width: 35px;
    height: 27px;
    margin: 7px;
    background-image: url('kuvat/usericon.png');
    background-size: cover;
}

.ostoskori {
    display: inline-block;
    width: 31px;
    height: 27px;
    margin: 7px;
    background-image: url('kuvat/shoppingcart.png');
    background-size: cover;
}

/* navigation bar */

a {
    text-decoration: none;
    color: #df810f;
    font-size: bold;
}

nav {
    background-color: rgb(192, 160, 122);
    padding: 10px 3px 10px 3px;
    text-align: center;
    display: flex;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: right;
}

nav li {
    margin-left: 20px;
}


.navItem {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 100px;
    text-shadow: 1px 1px 1px black;
}

.navItem:hover {
    text-decoration: none;
    color: #dfd7cd;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 120px;
    text-shadow: 1px 1px 1px black;
}

.dropdown-toggle:hover {
    text-decoration: underline;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width:330px) {
    #logo {
        font-size: 15px;
    }
}


/* main */

.socials p,
.socials a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.socials {
    margin-top: 50px;
    padding-left: 150px;
}

.instagram,
.facebook,
.twitter {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right: 50px;
}

h3 {
    text-shadow: 1px 1px 1px gray;
}

main {
    border: 1px solid rgb(179, 149, 149);
    box-shadow: 0 15px 25px 0 rgb(179, 149, 149);
    background-color: white;
    padding: 0px 100px 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 20px;
}

.kartta-container {
    height: 100px;
    margin: 0px 0px 100px 180px;
}

#map {
    border: 1px solid rgb(179, 149, 149);
    box-shadow: 0 15px 25px 0 rgb(179, 149, 149);
}