
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}

/* title */

h1 {
    padding: 10px;
}

header {
    background-color: rgb(231, 200, 204);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 600px;
}

.logo {
    text-align: right;
}

.suosikit {
    display: inline-block;
    width: 30px;
    height: 25px;
    margin: 7px;
    background-image: url('kuvat/heart.png');
    background-size: cover;
}

.käyttäjä {
    display: inline-block;
    width: 35px;
    height: 27px;
    margin: 7px;
    background-image: url('kuvat/usericon.png');
    background-size: cover;
}

.ostoskori {
    display: inline-block;
    width: 31px;
    height: 27px;
    margin: 7px;
    background-image: url('kuvat/shoppingcart.png');
    background-size: cover;
}


main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.login,
      .register {
          flex-basis: 45%; /* Määrittää sarakkeen leveyden */
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
      }

/* navigation bar */

nav {
    background-color: rgb(198, 161, 166);
    padding: 10px;
    text-align: center;
    display: flex;
}

.navItem {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 140px;
    text-shadow: 1px 1px 1px black;
}

.navItem:hover {
    text-decoration: none;
    color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 120px;
    text-shadow: 1px 1px 1px black;
}

.dropdown-toggle:hover {
    text-decoration: underline;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width:330px) {
    #logo {
        font-size: 15px;
    }
}

.login-form {
    border: 2px solid rgb(198, 161, 166);
    box-shadow: 0 8px 20px 0 rgb(198, 161, 166);
    padding: 50px 150px 100px 150px;
    background-color: rgb(231, 200, 204);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
}

.login-form label {
    margin: 10px;
    margin-left: -2px;
}

.button1 .button2 {
  background-color:rgb(165, 169, 141);
  border: 0.2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 2rem, 3rem;
  font-size: medium;
  height: 3rem;
  width: 4rem;
  float: right;
}

 html {
            box-sizing: border-box;
            font-size: 17px;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
        }

        form {
            margin: 1rem;
        }

        input, nutton, select {
            font-size: irem;
            padding: 0.25rem;
        }

        #name {
            border: 1px solid #123456;
        }

        @media (max-width: 500px){
            form {
                display: flex;
                flex-direction: column;
            }
            input {
                margin-bottom: 0.5rem;
            }
            button {
                margin-top: 0.5rem;
            }
            input, button {
                appearance: 0.5rem;
            }
        }

        @media (min-width: 500.1px){
            form {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap: 2rem;
            }
            .checkbox-container {
                grid-column: 2 / -1;
            }

            button[type="submit"] {
                order: 2;
            }

        }
        @media (min-width: 601px) and (max-width: 1024px) {
            /* Add styles here */
        }

        /* Large screens */
        @media (min-width: 1025px) {
            /* Add styles here */
        }

        button[type="submit"] {
            background-color: #0a00ff;
            border: none;
            border-radius: 0.5rem;
            color: white;
        }
