body {
  font-family: 'Tahoma', sans-serif;
  margin: auto;
  width: 90%;
  padding: 10px;
}

.container {
  width: 100%;
}

header {
  justify-content: space-between;
  align-items: center;
}

.top-link__icon[data-v-007d9333] {
  width: 12px;
  height: 12px;
  margin-right: var(--spacing-small)
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.icons {
  text-align: right;
  display: flex;
  width: 100%;
  display: inline-block;
  background: none;
  justify-content: right;
  margin-top: 0;
  padding-top: 0;
}

.image-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 90%;
  height: 240px;
  padding: 7% 0;
  margin-right: 20px;
}

.cakeImg {
  box-shadow: 0 5px 40px 0 rgba(147, 144, 144, 0.578);
  width: 80%;
  height: 300px;
}
.käyttäjä {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  background-size: cover;

}
.suosikit {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  background-size: cover;
}

.ostoskori {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  background-size: cover;
}

.kieli {
  margin: 7px 10px 0px 0px;
}

#kieli {
  background-color: rgb(192, 160, 122);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Tahoma', sans-serif;
}

/* navigation bar */

a {
  text-decoration: none;
  color: #df810f;
  font-size: bold;
}

nav {
  background-color: rgb(192, 160, 122);
  padding: 10px 3px 10px 3px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: right;
}

nav li {
  margin-left: 20px;
}


.navItem {
  display: inline-block;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.navItem:hover {
  text-decoration: none;
  color: #dfd7cd;
}

.dropdown {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Tahoma', sans-serif;
  text-shadow: 1px 1px 1px black;
}

.dropdown-toggle:hover {
  text-decoration: underline;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #eceae9;

}

/* table */

.content p {
  font-weight: bold;
  margin-bottom: 50px;
}

.content h2 {
  font-size: 50px;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 40px;
}

.changecontent::after {
  content: '';
  color: rgb(192, 160, 122);
  animation: changetext 10s infinite linear;
  font-weight: bold;
  margin: 10px;
}

.table {
  width: 100%;
  margin: none;
}

.table h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table table th,
.table table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table table th {
  background-color: #f2f2f2;
}

.table table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table table tr {
  background-color: rgb(233, 220, 204);
  color: rgb(83, 78, 78);
  text-align: center;
  font-size: 20px;
  box-shadow: 0 15px 25px 0 rgb(83, 78, 78);
  width: 100%;
  height: 100%;
  padding: 10px;
}

.table2 {
  width: 100%;
  margin: none;

}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease;
}

.image-container img {
  width: 600px;
  height: 400px;
  margin-right: 10px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
  height: 80px;
  width: 60px;
  font-size: 30px;

}

.next-button {
  right: 10px;
  height: 80px;
  width: 60px;
  font-size: 30px;
}

/* footer */

footer {
  margin: 25px 10px 0px 25px;
  padding: 5px;
  text-align: center;
  background: linear-gradient(to bottom, rgb(234, 229, 223), rgba(231, 225, 218, 0.2));
  box-shadow: 0px 5px 10px rgba(140, 137, 137, 0.2);
}

/* media */

@media screen and (min-width: 801px) {

  .table,
  .table2 {
    height: auto;
    width: 100%;
    padding-bottom: 5%;
  }

  .cakeImg {
    width: 100%;/
  }

  .footer-container {
    margin: 0;
  }
}


@media screen and (max-width:800px) {
  .table .table2 {
    width: 100%;
    padding-bottom: 5%;
  }

  .table th,
  .table td {
    width: 100%;
  }

  .icons ul li {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .icons ul li a {
    display: block;
    padding: 5px;
  }

  .logo {
    position: static;
    margin-bottom: 20px;
  }

  .cakeImg {
    margin-top: 0;
  }

  .footer-container {
    margin: 0;
  }
}

@media screen and (max-width:534px) {
  .table {
    width: 100%;
    padding-bottom: 5%;
  }

  .content h2 {
    font-size: 30px;
  }
}

@media screen and (max-width:330px) {
  .content h2 {
    font-size: 20px;
  }
}
